body {
    margin: 0px;
    padding: 0px;
    background-color: #90d2ca;
}

.img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
}

.header {
    background-color: #10d8dc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: block;
    text-align: center;
    margin-left: 50px;
}

.leftbar {
    float: left;
    background-color: #10dcb3;
    height: 600px;
    width: 170px;

}

.data {
    margin-left: 200px;
}

.rightbar {
    float: right;
    background-color: #10dcb3;
    height: 600px;
    width: 170px;
}